<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ArtistLogInServlet</display-name>
    <servlet-name>ArtistLogInServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistLogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistLogInServlet</servlet-name>
    <url-pattern>/ArtistLogInServlet</url-pattern>
  </servlet-mapping>
  <display-name>Melosphere</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ArtistTopStreamsDisplayServlet</display-name>
    <servlet-name>ArtistTopStreamsDisplayServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistTopStreamsDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistTopStreamsDisplayServlet</servlet-name>
    <url-pattern>/ArtistTopStreamsDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistLogOutServlet</display-name>
    <servlet-name>ArtistLogOutServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistLogOutServlet</servlet-name>
    <url-pattern>/ArtistLogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistSignUpServlet</display-name>
    <servlet-name>ArtistSignUpServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistSignUpServlet</servlet-name>
    <url-pattern>/ArtistSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistDeleteProfileServlet</display-name>
    <servlet-name>ArtistDeleteProfileServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistDeleteProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistDeleteProfileServlet</servlet-name>
    <url-pattern>/ArtistDeleteProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerLogInServlet</display-name>
    <servlet-name>ListenerLogInServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerLogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerLogInServlet</servlet-name>
    <url-pattern>/ListenerLogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerDisplaySongServlet</display-name>
    <servlet-name>ListenerDisplaySongServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerDisplaySongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerDisplaySongServlet</servlet-name>
    <url-pattern>/ListenerDisplaySongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerLogOutServlet</display-name>
    <servlet-name>ListenerLogOutServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerLogOutServlet</servlet-name>
    <url-pattern>/ListenerLogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerDeleteProfileServlet</display-name>
    <servlet-name>ListenerDeleteProfileServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerDeleteProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerDeleteProfileServlet</servlet-name>
    <url-pattern>/ListenerDeleteProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerSignUpServlet</display-name>
    <servlet-name>ListenerSignUpServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerSignUpServlet</servlet-name>
    <url-pattern>/ListenerSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerAddToFavSongServlet</display-name>
    <servlet-name>ListenerAddToFavSongServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerAddToFavSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerAddToFavSongServlet</servlet-name>
    <url-pattern>/ListenerAddToFavSongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerArtistProfileViewServlet</display-name>
    <servlet-name>ListenerArtistProfileViewServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerArtistProfileViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerArtistProfileViewServlet</servlet-name>
    <url-pattern>/ListenerArtistProfileViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerDisplayProfileServlet</display-name>
    <servlet-name>ListenerDisplayProfileServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerDisplayProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerDisplayProfileServlet</servlet-name>
    <url-pattern>/ListenerDisplayProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerGetFollowingArtistServlet</display-name>
    <servlet-name>ListenerGetFollowingArtistServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerGetFollowingArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerGetFollowingArtistServlet</servlet-name>
    <url-pattern>/ListenerGetFollowingArtistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerDisplayFavSongsServlet</display-name>
    <servlet-name>ListenerDisplayFavSongsServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerDisplayFavSongsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerDisplayFavSongsServlet</servlet-name>
    <url-pattern>/ListenerDisplayFavSongsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerPlaySongFileServlet</display-name>
    <servlet-name>ListenerPlaySongFileServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerPlaySongFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerPlaySongFileServlet</servlet-name>
    <url-pattern>/ListenerPlaySongFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerEditProfileServlet</display-name>
    <servlet-name>ListenerEditProfileServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerEditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerEditProfileServlet</servlet-name>
    <url-pattern>/ListenerEditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnfollowArtistServlet</display-name>
    <servlet-name>UnfollowArtistServlet</servlet-name>
    <servlet-class>com.Servlet.UnfollowArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnfollowArtistServlet</servlet-name>
    <url-pattern>/UnfollowArtistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowArtistServlet</display-name>
    <servlet-name>FollowArtistServlet</servlet-name>
    <servlet-class>com.Servlet.FollowArtistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowArtistServlet</servlet-name>
    <url-pattern>/FollowArtistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerRemoveFromFavServlet</display-name>
    <servlet-name>ListenerRemoveFromFavServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerRemoveFromFavServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerRemoveFromFavServlet</servlet-name>
    <url-pattern>/ListenerRemoveFromFavServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerGetPlaylistServlet</display-name>
    <servlet-name>ListenerGetPlaylistServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerGetPlaylistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerGetPlaylistServlet</servlet-name>
    <url-pattern>/ListenerGetPlaylistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerCreatePlaylistServlet</display-name>
    <servlet-name>ListenerCreatePlaylistServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerCreatePlaylistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerCreatePlaylistServlet</servlet-name>
    <url-pattern>/ListenerCreatePlaylistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerGetPlaylistSongsServlet</display-name>
    <servlet-name>ListenerGetPlaylistSongsServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerGetPlaylistSongsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerGetPlaylistSongsServlet</servlet-name>
    <url-pattern>/ListenerGetPlaylistSongsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerAddSongToPlaylistServlet</display-name>
    <servlet-name>ListenerAddSongToPlaylistServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerAddSongToPlaylistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerAddSongToPlaylistServlet</servlet-name>
    <url-pattern>/ListenerAddSongToPlaylistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListenerDeletePlaylistServlet</display-name>
    <servlet-name>ListenerDeletePlaylistServlet</servlet-name>
    <servlet-class>com.Servlet.ListenerDeletePlaylistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerDeletePlaylistServlet</servlet-name>
    <url-pattern>/ListenerDeletePlaylistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistDisplayProfileServlet</display-name>
    <servlet-name>ArtistDisplayProfileServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistDisplayProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistDisplayProfileServlet</servlet-name>
    <url-pattern>/ArtistDisplayProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistEditProfileServlet</display-name>
    <servlet-name>ArtistEditProfileServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistEditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistEditProfileServlet</servlet-name>
    <url-pattern>/ArtistEditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadSongFileServlet</display-name>
    <servlet-name>UploadSongFileServlet</servlet-name>
    <servlet-class>com.Servlet.UploadSongFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSongFileServlet</servlet-name>
    <url-pattern>/UploadSongFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistDisplayAllSongsServlet</display-name>
    <servlet-name>ArtistDisplayAllSongsServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistDisplayAllSongsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistDisplayAllSongsServlet</servlet-name>
    <url-pattern>/ArtistDisplayAllSongsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistDeleteSongServlet</display-name>
    <servlet-name>ArtistDeleteSongServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistDeleteSongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistDeleteSongServlet</servlet-name>
    <url-pattern>/ArtistDeleteSongServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArtistPlaySongFileServlet</display-name>
    <servlet-name>ArtistPlaySongFileServlet</servlet-name>
    <servlet-class>com.Servlet.ArtistPlaySongFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtistPlaySongFileServlet</servlet-name>
    <url-pattern>/ArtistPlaySongFileServlet</url-pattern>
  </servlet-mapping>
</web-app>